{{#each hits}}

<li class="image__link-item">
    
<img src="{{webformatURL}}" alt="картинка" class="image__item">


    <div class="wrapper-about">

 
    <p class="image__item-about">
      <i class="material-icons">thumb_up</i>
      {{likes}}
    </p>
    <p class="image__item-about">
      <i class="material-icons">visibility</i>
       {{views}}
    </p>
    <p class="image__item-about">
      <i class="material-icons">comment</i>
      {{comments}}
    </p>
    <p class="image__item-about">
      <i class="material-icons">cloud_download</i>
      {{downloads}}
    </p>

    
 
</li>

{{/each}}